/* The Odin Project Sketch Pad Stylesheet */
/* By Kyle Harder */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1F2937;
}

.header {
    background: #1F2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 200px;
}

#sketchpad {
    width: 960px;
    aspect-ratio: 1 / 1;
    background: #1F2937;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#innerBox {
    background: #e5e7eb;
    border: 1px solid black;
    box-sizing: border-box;
}